@import url('https://fonts.googleapis.com/css2?family=Lobster&family=MedievalSharp&display=swap');

.cards {
  padding: 4rem;
  background: #f3ce97;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #0e59ed;
}


.cards__container {
  display: grid;
  flex-flow: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 10px 0 10px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}


.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
 background: linear-gradient(145deg, #ffffff, #e6e6e6);
 box-shadow:  5px 5px 10px #c2c2c2, 
             -5px -5px 10px #ffffff;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;

}

.cards__item__link:hover {
transform: scale(1.1); 
transition: all 0.5s ease;
text-decoration: none;
}


.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  
}


.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #0e49ed; 
  font-size: 18px;
  line-height: 24px;
  
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}


/*Mobile Screen*/

@media only screen and (max-width: 600px) {
    .cards {
        width: 100vw;
        overflow: visible;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .cards__item {
        width: 100vw;
        overflow: visible;
        margin-left: 0;
        margin-right: 0;
    }

    .cards__item__link {
        width: 100vw;
        overflow: visible;
        margin-left: 0;
        margin-right: 0;

    }


}








.header_space {
  margin-top: 100px;
  margin-bottom: 100px;

font-size: 50px;
    color: #00d0ff;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 0px 0px 0 rgb(-17,191,238),
                 -1px 0px 0 rgb(-34,174,221),
                 -2px 0px 0 rgb(-52,156,203),
                 -3px 0px 0 rgb(-69,139,186),
                 -4px 0px 0 rgb(-86,122,169),
                 -5px 0px  0 rgb(-103,105,152),
                 -6px 0px 5px rgba(14,88,237,0.6),
                 -6px 0px 1px rgba(14,88,237,0.5),
                 0px 0px 5px rgba(14,88,237,.2);


  
  
 }


.header_aboutme {
  margin-bottom: 90px;

font-size: 50px;
    color: #00d0ff;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 0px 0px 0 rgb(-17,191,238),
                 -1px 0px 0 rgb(-34,174,221),
                 -2px 0px 0 rgb(-52,156,203),
                 -3px 0px 0 rgb(-69,139,186),
                 -4px 0px 0 rgb(-86,122,169),
                 -5px 0px  0 rgb(-103,105,152),
                 -6px 0px 5px rgba(14,88,237,0.6),
                 -6px 0px 1px rgba(14,88,237,0.5),
                 0px 0px 5px rgba(14,88,237,.2);

}


