
.bg{
    background-color: #f3ce97;
}

.section {
	margin: 0;
    padding: 0;

}

.sectionHeader {
	margin-bottom: 90px;

    font-size: 50px;
    color: #00d0ff;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 0px 0px 0 rgb(-17,191,238),
                 -1px 0px 0 rgb(-34,174,221),
                 -2px 0px 0 rgb(-52,156,203),
                 -3px 0px 0 rgb(-69,139,186),
                 -4px 0px 0 rgb(-86,122,169),
                 -5px 0px  0 rgb(-103,105,152),
                 -6px 0px 5px rgba(14,88,237,0.6),
                 -6px 0px 1px rgba(14,88,237,0.5),
                 0px 0px 5px rgba(14,88,237,.2);
}

.contactForm {
    background-color: #0073ff;
    padding: 1em 2em;
    margin-bottom: 90px;
}

.formGroup {
    background-color: inherit;
    padding: 1rem 0;
}

.formLabel {
    background-color: inherit;
    color: #c5d8d1;

}

.formButton {
    margin: 2rem 0;
}

.formButton, .formButton:active, .formButton:hover, .formButton:visited {
    background-color: #06bcc1;
    border: none;
    color: white;
}

.iconList {
    margin-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.iconAndLabel {
    margin: 0;
    padding: .5rem 0;
    flex-direction: column;
    width: 50%;
}

.iconAndLabel a {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.iconAndLabel a > * {
    padding: 5px 10px 5px 10px;
	align-self: center;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/3;
        margin: 0 1em;
        padding: 1em;
    }

    .contactForm {
        padding: 1rem 4rem;
    }

    .iconAndLabel {
        margin: 1rem 0;
        width: 20%;
    }
}